<IfModule mod_rewrite.c>
    # Activar el motor de reescritura
    RewriteEngine On

    # Evitar la reescritura si el recurso existe como archivo o directorio
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigir todas las demás solicitudes a index.html
    RewriteRule ^(.*)$ /index.html [L,QSA]
</IfModule>