Options +FollowSymLinks
RewriteEngine On
RewriteBase /app/

# Las reglas de enrutamiento de React deben ir después de las reglas anteriores
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /app/index.html [L]
