.body {
    width: 80%;
    align-items: center;
    margin: 0 auto;
}


p {
    font-size: 18px;
    margin-bottom: 20px;
}

.carousel-container {
    margin: 20px auto;
    /* Centra el carrusel */
    max-width: 600px;
    /* Ajusta el ancho del carrusel según tus preferencias */
}

.carousel-container .carousel-root {
    border-radius: 10px;
    /* Añade bordes redondeados al carrusel */
}

.carousel-container .carousel-slider {
    border-radius: 10px;
    /* Añade bordes redondeados a las imágenes del carrusel */
}

.carousel-container img {
    width: 100%;
    max-width: 500px;
    height: auto;
}