.contenedorSolicitudes {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin-left: 1%;

}

.carta {
    margin: 1%;
    width: 200%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.botonesMostrar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;


}