/* Type: CSS File */
.contenedor {
    display: inline-block;
    margin-left: 15%;
    align-items: center;
    background-image: url(https://cdguzman.tecnm.mx/itcg/pluginfile.php/1/theme_moove/headerimg/1682613422/moodle.JPG);
    background-size: cover;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;


}

.container {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    width: auto;

}

.login {
    padding-top: 5%;

}


.texto {
    text-align: center;
    font-size: 1.5rem;


}


.card-header {
    display: flex;
    background-color: white !important;

}

#info {
    background-color: #0f6fc5 !important;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.imagen {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.btn {
    display: block;
    margin-right: 15%;
    background-color: #166fe5;
    border-color: #166fe5;
}

#btn-login {
    display: block;
    width: 100%;
    font-weight: 400;
    background-color: #0f6fc5 !important;
    border-color: #0f6fc5 !important;
}

.btn:hover {
    background-color: #2780D8 !important;
    border-color: #2780D8 !important;
}

.titulo {
    margin-left: 5px;
    font-size: 1.5rem;
    display: inline;
}

#icono {
    font-size: 35px;
}