.login {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%);


}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #166fe5;
    border-color: #166fe5;
}

.btn:hover {
    background-color: #0d4db8;
    border-color: #0d4db8;
}

.titulo {
    margin-left: 5px;
    display: inline;
}

#icono {

    font-size: 50px;
}