.navbar {
    background-color: #1B396A;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: aliceblue;
}

.nav-link:focus {
    color: aliceblue;
    text-decoration: underline;
}

.navbar #p-id {
    display: inline;
    padding-top: 10px;
}

.navbar #p-nombre {
    display: inline;
    padding-top: 10px;
}

.navbar #setting {
    padding-top: 10px;
    color: white;
    font-size: 1.3rem;
}

.navbar #logout {
    padding-top: 10px;
    color: white;
    font-size: 1.3rem;
}

.datos {
    display: grid;
    width: auto;
    grid-template-columns: 1.5fr 0.5fr 0.5fr;
    margin-top: 10px;
}

#link-setting {
    display: inline;
    padding-left: 10px;
}

#logout {
    display: inline;
    margin-left: 10px;
}


/* .navbar #link-setting {
    padding-left: 10px;
    display: inline;
} */